---
title: Blog
permalink: "/blog"
layout: default
show_subscribe_button: 1
headline: Blog
headline_link: "/blog"
---

{% for post in site.posts %}
<article>
    <h2 id="{{ post.title }}">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {{post.title}}
        </a>
    </h2>
    <p>
        <time>
            {{ post.date | date: "%b %-d, %Y" }} /
        </time>
        <a class="a-body" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.excerpt | strip_html  }}
        </a>
    </p>
</article>
{% endfor %}

{% include bottom-actions.html %}
