* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Courier, sans-serif;
    background-color: {{ page.app_background_color }};
    color: {{ page.app_font_body_color }};
}

/* Links */
a {
    color: {{ page.app_font_link_color }};
    outline-color: {{ page.app_font_link_color }};
    transition: color 0.25s ease;
}
a:hover {
    color: {{ page.app_font_link_color_hover }};
}

a.a-body {
    color: {{ page.app_font_body_color }};
    outline-color: {{ page.app_font_body_color }};
    text-decoration: inherit;
}
a.a-body:hover {
    color: {{ page.app_font_body_color_hover }};
}

/* Reset font weights for headlines */
h1, h2 {
    font-weight: inherit;
}

/* Layout */
main, header, footer {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */
header {
    font-family: Inconsolata, Courier, sans-serif;
}
header h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
}
header h3 {
    color: #777;
    margin-top: 0;
    margin-bottom: 0;
}
header h3 a {
    text-decoration: none;
}
.header__content {
    display: flex;
    margin-top: 1.34rem;
    margin-bottom: 1.17rem;
}
.header__headlines {
    flex-grow: 1;
}
.header__actions {
     /** hide header actions on mobile so that it looks better */
    display: none;
}
@media (min-width: 350px) {
    .header__actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.17rem;
    }
}

/* Main */
main {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
main h1 {
    font-family: Inconsolata, Courier, sans-serif;
}
main time {
    color: {{ page.app_font_body_secondary_color }};
    transition: color 0.25s ease;
}
main p.p-time {
    margin-bottom: 3rem;
}
main p, main li {
    line-height: 1.75;
}
main img {
    max-width: 100%; /* images shouldn't be wider than post container */
    margin: 1rem 0;
}
main a {
    word-break: break-word; /* long links should wrap in multiple lines */
}
main strong {
    color: {{ page.app_font_body_emphasis_color }};
}
main h2 {
    font-size: 1.75rem;
    font-family: Inconsolata, Courier, sans-serif;
    font-weight: bold;
    margin: 1.5em 0 0.83em 0; /* more margin on the top of post titles */
}
.main__bottom-actions {
    font-family: Inconsolata, Courier, sans-serif;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.17rem;
}
main blockquote p {
    white-space: pre-line; /* for quote blocks to show line breaks */
}
article {
    margin-bottom: 4rem;
}

/* Footer */
footer {
    margin-bottom: 1rem;
}
footer nav {
    font-family: Inconsolata, Courier, sans-serif;
    padding: 1rem 0;
}
footer nav a {
    margin-right: 0.5rem;
    font-size: 1.17rem;
}
