div, header {
    display: flex;
}
body {
    font-size: 16px;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    line-height: 1.2;
    background-color: {{ page.app_background_color }};
    color: {{ page.app_font_body_color }};
}
#root {
    position: relative;
    width: 100vw;
    overflow: scroll;
}

#main-container {
    display: block;
    flex-grow: 1;
    padding: 2rem 10vw;
    margin: 10vh 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#content-container {
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4.5rem;
}
header {
    flex-direction: column;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}
h2, nav {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    #main-container {
        padding: 2rem 5vw;
    }
    #content-container {
        margin-top: 6rem;
        margin-bottom: 6.5rem;
    }
    h1 {
        font-size: 2.7rem;
        margin-bottom: 1.5rem;
    }
    h2, nav {
        font-size: 1.4rem;
    }
    h2 {
        margin-bottom: 1.5rem;
    }
}
@media screen and (min-width: 980px) {
    #main-container {
        padding: 2rem 5vw;
    }
    h1 {
        font-size: 3.2rem;
        margin-bottom: 2.5rem;
    }
    h2, nav {
        font-size: 1.5rem;
    }
    h2 {
        margin-bottom: 2.5rem;
    }
}

nav a {
    margin-right: 0.5rem;
}

a, time {
    color: {{ page.app_font_link_color }};
    outline-color: {{ page.app_font_link_color }};
    transition: color 0.25s ease;
}
a:hover {
    color: {{ page.app_font_link_color_hover }};
}
h1, h2 {
    font-weight: inherit;
}
p {
    line-height: 1.75;
}