/* ---------------- */
/* Loader           */
/* ---------------- */

#loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: {{ page.app_background_color }};
}
body.is-loading #loader-overlay {
    opacity: 1;
}
#loader {
    display: flex;
    font-size: 5rem;
    font-family: Courier, sans-serif;
    color: {{ page.app_font_body_color }};
}
#loader-inner {
    animation: rotation 8s ease 0.25s infinite;
}
@keyframes rotation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(3600deg);}
}