<header>
    <div class="header__content">
        <div class="header__headlines">
            <h1>
                <a href="/" class="a-body">
                    Guillermo de la Puente
                </a>
            </h1>
            <div role="doc-subtitle">
                Management blog
            </div>
        </div>
        <div class="header__actions">
            {% if include.action-href %}
                <a href="{{ include.action-href }}">
            {% endif %}
            {% if include.action-text %}
                {{ include.action-text }}
            {% endif %}
            {% if include.action-href %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="amazing-horizontal-bar"></div>
</header>
