<header>
    <div class="header__content">
        <div class="header__headlines">
            <h1>
                <a href="/" class="a-body">
                    Guillermo de la Puente
                </a>
            </h1>
            <h3>
                {% if include.headline-href %}
                    <a href="{{ include.headline-href }}" class="a-inherit">
                {% endif %}
                    {{ include.headline }}
                {% if include.headline-href %}
                    </a>
                {% endif %}
            </h3>
        </div>
        <div class="header__actions">
            {% if page.show_subscribe_button %}
                <a href="{{ page.subscribe_url }}">Subscribe</a>
            {% endif %}
        </div>
    </div>
    <div class="amazing-horizontal-bar"></div>
</header>
