.amazing-horizontal-bar {
    height: 4px;
}
.amazing-horizontal-bar, main h2::after {
    width: 100%;
    background: linear-gradient(90deg, #F0D690, #11c093, #4d53e0, #B161EC, #d233cf, #F0D690);
    background-size: 600% 600%;
    animation: AmazingBackground 50s ease infinite;
}

@keyframes AmazingBackground {
    0%{background-position:85% 0%}
    50%{background-position:0% 0%}
    100%{background-position:85% 0%}
}