<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Guillermo de la Puente">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
    <style type="text/css">
      {% include reset-styles.css %}
      {% include default-styles.css %}
      {% include amazing-horizontal-bar-styles.css %}
    </style>
  </head>
  <body>
    {% include header.html headline=page.title  headline-href=page.permalink %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
