<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Guillermo de la Puente">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
    <style type="text/css">
      {% include reset-styles.css %}
      {% include common-styles.css %}
      {% include default-layout-styles.css %}
      {% include amazing-horizontal-bar-styles.css %}
    </style>
  </head>
  <body>
    {% include header.html %}
    <main>
      {% if page.date != null %}
        <p><time>{{ page.date | date: "%b %-d, %Y" }}</time></p>
      {% endif %}

      {{ content }}

      {% if page.date != null %}
        <p style="margin-top:4rem;text-align:center">
          <a href="https://tinyletter.com/guillermodelapuente">Subscribe</a>
        </p>
      {% endif %}
    </main>
    {% include footer.html %}
  </body>
</html>
