---
layout: compress
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Guillermo de la Puente">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include analytics.html %}
    <style type="text/css">
      {% include styles/reset.css %}
      {% include styles/index.css %}
      {% include styles/loader.css %}
      {% include styles/amazing-horizontal-bar.css %}
    </style>
  </head>
  <body class="is-loading">
    {% include loader.html %}
    {{ content }}
    <script type="text/javascript">{% include scripts/loader.js min_timeout="500" %}</script>
  </body>
</html>
