<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Guillermo de la Puente">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
    <style type="text/css">
      {% include reset-styles.css %}
      {% include default-styles.css %}
      {% include amazing-horizontal-bar-styles.css %}
    </style>
  </head>
  <body>
    {% include header.html headline="Blog" headline-href="/blog" %}
    <main>
      <h1>{{ page.title }}</h1>

      <p class="p-time">
        <time>
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>

      {{ content }}

      <p style="margin-top:4rem;text-align:center">
        <a href="https://tinyletter.com/guillermodelapuente">Subscribe</a>
      </p>
    </main>
    {% include footer.html %}
  </body>
</html>
