<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Management Blog - Guillermo de la Puente</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Guillermo de la Puente">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include analytics.html %}
    <style type="text/css">
      {% include styles/reset.css %}
      {% include styles/default.css %}
      {% include styles/loader.css %}
      {% include styles/amazing-horizontal-bar.css %}
    </style>
  </head>
  <body class="is-loading">
    {% include loader.html %}
    {% include header.html action-text="Blog" action-href="/blog" %}
    <main class="{{ page.main_class }}">
      <h1>{{ page.title }}</h1>

      <p class="p-time">
        <time>
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </p>

      {{ content }}

      <div class="main__bottom-actions">
        <a href="/blog">Back to all posts</a>
      </div>
    </main>
    {% include footer.html %}
    <script type="text/javascript">{% include scripts/loader.js %}</script>
  </body>
</html>
